body {
  text-align: center;
  background-color:: #FAFAF5;
}
.wrapper {
  max-width: 900px;
  font-family: "Work Sans","HelveticaNeue","Helvetica Neue",sans-serif !important;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: "Big Caslon","Book Antiqua","Palatino Linotype",Georgia,serif !important;
}
